body {
  font-family: sans-serif;
  background: #fafafa;
  padding: 40px;
}

.card {
}

.card-image {
}

.card-body {
}

.card-title {
}

.card-text {
}

.card-btn {
}

.card-btn:hover {
}

.card:hover {
}
